/* Embed font required for the brand at the navbar */
@font-face {
  font-family: "Norsebold";
  src: url('norse/Norsebold.otf');
}

/* Selector for main logo anchor */
.main-logo-container {
  align-items: center;
  margin: 12px 0 0 170px;
}

/* Selector for the text in the main logo */
.logo-text {
  color: #cc9543;
  text-transform: uppercase;
  font-family: "Norsebold", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  padding-left: 0.5em;
}

/* Selector for all the links in main navbar */
.navbar-links {
  margin: 12px 178px 0 auto;
  align-items: center;
  width: 510px;
  justify-content: space-between;
  list-style: none;
}

/* Selector for the anchors inside the ul at the navbar */
.navbar-links li a {
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}

/* Selector for the anchors inside the ul at the navbar when hovering */
.navbar-links li a:hover {
  color: black;
}

/* Style for the arrow pointing down beside community anchor at the navbar */
.dropdown-arrow::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}