/* Embed font required for the brand at the navbar */
@font-face {
  font-family: "Norsebold";
  src: url('norse/Norsebold.otf');
}

/* Selector for main logo anchor */
.main-logo-container {
  align-items: center;
  margin: 8px 0 0 20px;
}

/* Selector for the logo img at the navbar */
.logo {
  height: 60px;
}

/* Selector for the anchor which contains the menu icon */
.menu-icon-container {
  margin: 22px 24px 0 auto;
}

/* Selector for the menu icon at the navbar */
.menu-icon {
  width: 32px;
  height: 32px;
}

/* Selector for the text in the main logo */
.logo-text {
  color: #cc9543;
  text-transform: uppercase;
  font-family: "Norsebold", sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  padding-left: 0.5em;
}

/* Selector for all the links in main navbar */
.navbar-links-container {
  margin: 12px 12px 0 0;
  align-items: center;
  width: 69%;
  list-style: none;
  justify-content: flex-end;
}

/* Selector for the li elements at the navbar */
.navbar-links-container li {
  margin-left: 16px;
}

/* Selector for the anchors inside the ul at the navbar */
.navbar-links-container li a {
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}

/* Selector for the anchors inside the ul at the navbar when hovering */
.navbar-links-container li a:hover {
  color: black;
}

/* Style for the arrow pointing down beside community anchor at the navbar */
.dropdown-arrow::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: rgba(74, 74, 74, 0.7);
}

/* Selector for the pipe at the navbar */
.pipe {
  line-height: 78px;
  color: rgba(74, 74, 74, 0.7);
}

/* Selector for the main header */
header {
  text-align: center;
}

/* Selector for all the h1. We have only one h1 */
h1 {
  color: #ce973e;
  margin-bottom: 0;
  padding-bottom: 4px;
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Selector for the paragraph below h1 */
.header-paragraph {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  line-height: 1.88;
}

/* Custom class for the View curriculum button */
.header-button {
  margin-top: 48px;
  background-color: #6abfc3;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1.1rem 2.9rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Custom class to give opacity when hovering over view curriculum button */
.header-button:hover {
  opacity: 0.8;
}

/* Selector for the container which contains the odin factory image */
.image-container {
  margin-top: 46px;
}

/*==============================================================================
MEDIA QUERIES STARTING AT 1024PX
==============================================================================*/
@media (min-width: 1024px) {

  /* Selector for the anchor which contains the menu icon */
  .main-logo-container {
    margin-left: auto;
  }

  /* Selector for all the links in main navbar */
  .navbar-links-container {
    margin: 12px auto 0 0;
  }

  /* Selector for the logo img at the navbar */
  .logo {
    height: 70px;
  }
}